* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #9f2ed8;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px ;
    padding: 15px 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px purple;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
a {
    color: #ffffff
}